<ion-view view-title="Contact" name="dashboard-view">
  <ion-content class="padding">

<a href="#/main/addcontact" class="button button-block button-positive icon icon-left ion-person-add">Add Contact</a>      

      <div class="list">
      <!-- 	<div class="item item-devider"><buton class="button button-block">hghf</buton></div> -->
      	
      	<a href="#/main/viewcontact" class="item item-icon-left"><i class="icon ion-ios-eye"></i>View Contacts </a>
<!--       	<a href="" class="item item-icon-left"><i class="icon ion-ios-pricetags"></i>Add Items</a>
 -->      <!-- 	<a href="" class="item item-icon-left"><i class="icon ion-edit"></i>Edit Items</a> -->
      	<a href="#/main/delcontact" class="item item-icon-left"><i class="icon ion-ios-trash"></i>Delete Contacts</a>
      </div>
  </ion-content>
</ion-view>
