<ion-view view-title="Items" name="dashboard-view">
  <ion-content class="padding">
      <div class="list">
      	<a href="#/main/view_item" class="item item-icon-left"><i class="icon ion-ios-eye"></i>View Items </a>
      	<a href="#/main/add_item" class="item item-icon-left"><i class="icon ion-ios-pricetags"></i>Add Items</a>
      	<a href="#/main/edit_item" class="item item-icon-left"><i class="icon ion-edit"></i>Edit Items</a>
      	<a href="#/main/delete_item" class="item item-icon-left"><i class="icon ion-ios-trash"></i>Delete Items</a>
      </div>
  </ion-content>
</ion-view>
