<ion-view view-title="Reports" name="dashboard-view">
  <ion-content class="padding">
      <div class="list">
      	<a href="#/main/dailyrep" class="item item-icon-left"><i class="icon ion-social-usd-outline"></i>Daily Report</a>
      	<a href="#/main/weeklyrep" class="item item-icon-left"><i class="icon ion-cash"></i>Weekly Report</a>
      	<a href="#/main/monthlyrep" class="item item-icon-left"><i class="icon ion-cash"></i>Monthly Report</a>
      	
      
      </div>
  </ion-content>
</ion-view>
